<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">Subscribe</p>
			<p>Get health news from us in your inbox every two weeks. Be the first to learn about new research.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 lh-title mb1 primary"><span class="b">Reveal</span> Health</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/approach" class="link">Our Approach</a></li>
					<li><a href="/services" class="link">Services</a></li>
					<li><a href="/research" class="link">Research</a></li>
					<li><a href="/team" class="link">Team</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/research/oxidative-stress/" class="link">Latest research</a></li>
					<li><a href="/contact" class="link">Schedule an appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Connect with us</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
