::selection {
  background-color: var(--highlight);
}


html,body,p {
	font-family: Nunito, sans-serif;
}

h1,h2,h3,h4,h5 {
	font-family: Raleway, sans-serif;
}


html,body {
  background: #eee;
}

.container {
  max-width: 100vw;
  background: white;
  margin: auto;
  overflow-x: hidden;
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus, & ul a:active {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

.nav-p .active {
  box-shadow: inset 0 -4px 0 var(--primary);
}

.nav-r {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .nav-r {
    display: inline;
  }
  .nav-p {
    display: none;
  }
  #nav-master {
    align-items: center;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--black);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
  min-width: 230px;
  /*white-space: nowrap;*/
}

.sidenav .active {
  box-shadow: inset -4px 0 0 var(--primary);
  color: white;
}

.sidenav a:hover {
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 220px;
}

.submenu-r {
  margin-left: 16px;

}